{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
      <!-- adminx-content-aside -->
      <div class="adminx-content">
        <!-- <div class="adminx-aside">

        </div> -->

        <div class="adminx-main-content">
          <div class="container-fluid">
            <!-- BreadCrumb -->
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb adminx-page-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Bosh panel</a></li>
                <li class="breadcrumb-item active" aria-current="page">Katalog</li>
              </ol>
            </nav>

            <div class="pb-3">
              <div class="row">
                <div class="col-md-12">
                  <h4>Katalog</h4>
                </div>
                <div class="col-md-3">
                  <form action="" method="post">
                    {% csrf_token %}
                   <div class="form-group">
                      <label class="form-label">Katalog bo'yicha</label>
                      <select name="select_category" onchange="SearchDay('category')" class="form-control js-choice">
                        {% if categories %}
                        <option value="{{ category.id }}">{{ category }}</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category }}</option>
                        {% endfor %}
                        {% else %}
                        <option>Xozircha kataloglar topilmadi</option>
                        {% endif %}
                      </select>
                      <input type="submit" id="submit_category" style="display:none;">
                    </div>
                  </form>
                </div>
                <div class="col-md-3">
                   <form action="" method="post">
                    <div class="form-group">
                      {% csrf_token %}
                      <label class="form-label">Sana bo'yicha</label>
                      <input type="date" style="width:100%;"  name="date" onchange="SearchDay(this.value)" value="" class="btn btn-primary">
                      <input type="submit" id="submit" style="display:none;">
                    </div>
                  </form>
                </div>
              </div>
             
               
            </div>
        
              <div class="row">
                <!--<div class="col-md-3">
                  <div class="card mb-grid">
                  <div class="card-header">
                    <div class="card-header-title">Saralash</div>
                  </div>
                  <div class="card-body">
                  <form action="" method="post">
                    <div class="form-group">
                      {% csrf_token %}
                      <label class="form-label">Sana bo'yicha</label>
                      <input type="date" name="date" onchange="SearchDay(this.value)" value="{{ today }}" class="btn btn-primary">
                      <input type="submit" id="submit" style="display:none;">
                    </div>
                  </form>
                    <div class="form-group">
                      <label class="form-label">Sana</label>
                      <select name="select" class="form-control js-choice">
                        <option value="1">Sample value</option>
                        <option value="2">Sample value 2</option>
                        <option value="3">Sample value 3</option>
                      </select>
                    </div>
                  </div>
                  <div class="card-footer">
                    Avval tovarni asosiy katalogini tanlang, keyin katalog osti katalogni. Masalan: Adabiyotlar &gt;&gt;&gt;Jahon adabiyotlari &gt;&gt;&gt;Tovar nomi
                  </div>
                </div>
                </div>-->

                <div class="col-md-12">
                       <div class="row">
                <div class="col-12">
                  <div class="card mb-grid">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    {% if get %}
                    <div class="card-header-title">Eng oxirgi qo'shilgan tovarlar </div>
                    {% else %}
                    <div class="card-header-title">Mavjud tovarlar </div>
                    {% endif %}
                    <div class="card-header-title"><h4>{{ year }}-yil {{ day }}-{{ month }}</h4></div>
                  </div>
                  <div class="table-responsive-sm">
                    <table class="table table-actions table-striped table-hover mb-0">
                       {% if page_object %}
                      <thead>
                        <tr class="text-center">
                          <th scope="col">
                            <label class="custom-control custom-checkbox m-0 p-0">
                              <input type="checkbox" class="custom-control-input table-select-all">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </th>
                          <th scope="col">Nomi</th>
                          <th scope="col">Kategoriyasi</th>
                          <th scope="col">Nashriyoti</th>
                          <th scope="col">Omborda</th>
                          <th scope="col">Narxi(K)</th>
                          <th scope="col">Narxi(S)</th>
                          <th scope="col">Qo'shilgan sana</th>
                          <th scope="col">Tahrirlash</th>
                        </tr>
                      </thead>
                      <tbody style="color:black;font-weight:700;" id="tbody">

                           
                          {% for product in page_object %}
                        <tr class="text-center" {% if setting.color_product_limit %}{% if product.quantity == 0 %} style="background:rgba(239,78,46,0.5);" {% elif product.quantity < 5 %} style="background:rgba(239,255,49,0.4);"{% endif %}{% endif %}>
                          <th scope="row">
                            <label class="custom-control custom-checkbox m-0 p-0">
                              <input type="checkbox" class="custom-control-input table-select-row">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </th>
                      
                          <td>{{ product.title }}</td>
                          <td>{{ product.category }}</td>
                          <td>{{ product.edition }}</td>
                          <td>{{ product.quantity }}</td>
                          <td>{{ product.pur_price }}</td>
                          <td>{{ product.cur_price }}</td>
                          <td>{{ product.add_date|date:"Y-m-d" }}</td>

                            <td>
                            <button type="button" onclick="AddToCart({{ product.id }})" class="btn btn-sm btn-success"  title="Savatchaga qo'shish"><i data-feather="shopping-cart"></i></button>
                            <button class="btn btn-sm btn-primary" onclick="OpenBottomPanel({{ product.id}},'open');" title="Tovarni boshqarish"><i data-feather="more-vertical"></i></button>

                            <div id="sound"></div>
                          <div class="bottom_menu bounce-4 mt-2" id="edit_produt_{{ product.id }}" style="width:100%; display:none;">
                                <button type="button" onclick="OpenBottomPanel({{ product.id}},'close');" class="close" style="padding-left:10px;" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                            <div class="buttons" style="margin-right:25px;">
                          
                            <button class="btn btn-outline-success" onclick="OpenBottomPanel({{ product.id}},'open');" title="Tovarni boshqarish"><i data-feather="eye"></i></button>
                            <button class="btn btn-outline-primary" onclick="OpenBottomPanel({{ product.id}},'open');" title="Tovarni boshqarish"><i data-feather="edit"></i></button>
                            <button class="btn btn-outline-danger" onclick="OpenBottomPanel({{ product.id}},'open');" title="Tovarni boshqarish"><i data-feather="trash"></i></button>

                            </div>


                          </div>
                          </td>
                        </tr>
                       
                          {% endfor%}
                          {% else %}
                      <div class="text-center"><h3>Xozircha ma'lumot topilmadi</h3></div>
                  {% endif %}
                      </tbody>
                    </table>
                  </div>
<style>
  .my_tr{

    display:none;
  }

     
    .bottom_menu {
        align-self: flex-end;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        
        margin: 0 auto 0 auto;
        transform-origin: bottom;
        width: 200px;
    }
    .bounce-4 {
        
        animation: bounce-4 3s 1;
        animation-timing-function: linear;
        -o-transition-delay: 3s;
    }
    @keyframes bounce-4 {
        0%   { transform: scale(1,1)    translateY(0); }
        10%  { transform: scale(1.1,.9) translateY(0); }
        30%  { transform: scale(.9,1.1) translateY(-10px); }
        50%  { transform: scale(1,1)    translateY(0); }
        100% { transform: scale(1,1)    translateY(0); }
    }
</style>

 <div class="pagination ml-2">
                    
<nav aria-label="...">
<ul class="pagination">

<li class="page-item {% if not prev_url %} disabled {% endif %}">
  <a class="page-link" href="{{ prev_url }}" tabindex="-1">Oldingi </a>
</li>

{% for n in page_object.paginator.page_range  %}

  {% if page_object.number == n %}
<li class="page-item active">
  <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
</li>
{% elif n > page_object.number|add:-3 and n < page_object.number|add:3%}
<li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
{% endif %}
{% endfor %}
<li class="page-item {% if not next_url %} disabled {% endif %}">
  <a class="page-link" href="{{ next_url }}">Keyingi </a>
</li>
</ul>
</nav>
</div>
                </div>
                </div>
              </div>

                </div>
              </div>           
            </div>
        </div>
      </div>
    </div>

<script>

 function OpenBottomPanel(product_id,command){
  console.log(product_id,command);
var my_tr = document.getElementById('edit_produt_'+product_id);
  if(command == 'open'){
    my_tr.style="display:block; transition:1s;";
}else if(command == 'close'){
    my_tr.style="display:none;transition:1s;";

}

 } 
</script>







<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal3Label">Tahrirlash</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
               <div class="card mb-grid">
                  <div class="card-header">
                    <div class="card-header-title">Tahrirlash oynasi</div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label class="form-label">Donasi</label>
                      <input class="form-control mb-2 input-credit-card" type="text" placeholder="Donasi">
                    </div>

                    <div class="form-group">
                      <label class="form-label">Narxi</label>
                      <input class="form-control input-date mb-2" type="text" placeholder="UZS ">
                    </div>

                    <div class="form-group">
                      <label class="form-label">Sotilish narxi</label>
                      <input class="form-control input-numeral mb-2" type="text" placeholder="UZS ">
                    </div>
                  </div>
                  <div class="card-footer">
                    <p>Ushbu tahrirlash oynasi orqali savatchaga olingan tovarlarni narxlarini va donasini mijoz talabiga (kelishuvga asosan) o'zgartirish mumkin.</p>
                  </div>
                </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
        <button type="button" class="btn btn-primary">Saqlash</button>
      </div>
    </div>
  </div>
</div>

<script>
  function SearchDay(date){
    if(date == "category"){
    document.getElementById('submit_category').click();

    }else{

    document.getElementById('submit').click();
    }
// var cpt='<th scope="row"><label class="custom-control custom-checkbox m-0 p-0">';
// cpt += '<input type="checkbox" class="custom-control-input table-select-row">';
// cpt +='<span class="custom-control-indicator"></span></label></th>';                              
//   if (window.XMLHttpRequest) {
//     // code for IE7+, Firefox, Chrome, Opera, Safari
//     xmlhttp=new XMLHttpRequest();
//   } else {  // code for IE6, IE5
//     xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
//   }
  
//   xmlhttp.onreadystatechange=function() {
//     if (this.readyState==4 && this.status==200) {
//     var data = JSON.parse(this.responseText);
//   console.log(data);
//   if(data.status == "ok"){
//     var tr = '<tr class="text-center">';
  
//     for(var x=0; x<data.products.length; x++){
//       tr += "<td>"+data.products[x][1]+"</td>";
//       tr += "<td>"+data.products[x][2]+"</td>";
//       tr += "<td>"+data.products[x][3]+"</td>";
//       tr += "<td>"+data.products[x][4]+"</td>";
//       tr += "<td>"+data.products[x][5]+"</td>";
//       tr += "<td>"+data.products[x][6]+"</td>";
//       tr += "<td>"+data.products[x][7]+"</td>";
//       tr+='<td><button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal3" title="Tanlangan tovarni tahrirlash"><i data-feather="shopping-cart"></i></button>';
// tr+='<button class="btn btn-sm btn-danger" onclick="playSound("bing");" title="Tovarni savatchadan o`chirish"><i data-feather="trash"></i></button><div id="sound"></div> </td>';
//     }
//     tr +='</tr>'
//     document.getElementById("tbody").innerHTML = tr;

//   }
//     }
//   }
 
//   var url = "{% url 'product:search_date' %}";
//   var url = url+"?date="+date;

//   xmlhttp.open("GET",url,true);
//   xmlhttp.send();
  }
</script>
  {% endblock %}