{% extends 'wrapper.html' %}
{% load static %}
{% block content %}


<div class="content-blocker" id="blocked">
  <center style="margin-top:200px;"><!-- Note a custom script is used to activate toasts:
$('.toast').toast();
-->

<div class="toast fade show" style="width:300px; height:130px; background-color:white; padding:10px; box-shadow:5px 6px 8px black;" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="mr-auto">Xabar</strong>
    <small></small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true" onclick="CloseToastInvoice()">×</span>
    </button>
  </div>
  <div class="toast-body">
  Mijoz qo'shildi!!
  </div>
</div>
</center>  
</div>
  <style>
    .content-blocker {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(136, 136, 204, 0.5);
      z-index: 4444;
      display:none;
    }
  </style>
  <script>
function CloseToastInvoice(){
  document.getElementById('blocked').style="display:none;";
  document.getElementById('restart').click();

}
  </script>
<a href="{% url 'product:invoice'%}" id="restart">Restart</a>
      <!-- adminx-content-aside -->
      <div class="adminx-content">
        <!-- <div class="adminx-aside">

        </div> -->

        <div class="adminx-main-content">
          <div class="container-fluid">
            <!-- BreadCrumb -->
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb adminx-page-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Bosh panel</a></li>
                <li class="breadcrumb-item active" aria-current="page">Hisob-kitob</li>
              </ol>
            </nav>

            <div class="pb-3">
              <h1>Hisob-kitob (СЧЕТ-ФАКТУРА )</h1>
            </div>
                <div class="row">
                 <div class="col-md-6">
                     <div class="card mb-grid">
                      <form action="" method="POST">
                        <div class="card-header">
                          <div class="card-header-title">Xaridor ma'lumotlari <br>
                            <b class="text-danger" id="info">Diqqat * qo'yilgan maydonlarni to'ldirish shart</b></div>
                        </div>
                        <div class="card-body">

                           <div class="form-group">
                            <label class="form-label">Tashkilot *</label>
                            <input class="form-control mb-2 input-credit-card" required type="text" id="name" placeholder="Tashkilot nomi">
                          </div>
                            <div class="form-group">
                            <label class="form-label">Manzili *</label>
                            <input class="form-control mb-2 input-credit-card" type="text" required  id="adres" placeholder="Manzili">
                          </div>
                            <div class="form-group">
                            <label class="form-label">Telefon raqam </label>
                            <input class="form-control mb-2 input-credit-card" type="text" required  id="phone" placeholder="Telefon">
                          </div>
                          <div class="form-group">
                            <label class="form-label">Shartnoma raqami</label>
                            <input class="form-control mb-2 input-credit-card" type="number" id="contract_number" placeholder="Shartnoma raqami (номер договора) ">
                          </div>
                       
                         
                          <div class="form-group">
                            <label class="form-label">INN raqami(Идентификационный номер ИНН)</label>
                            <input class="form-control mb-2 input-credit-card" type="text" placeholder="" id="inn">
                          </div>
                          <div class="form-group">
                            <label class="form-label">QQS kodi (Регистрационный код плательщика НДС)</label>
                            <input class="form-control input-date mb-2" id="reg_code" type="text" placeholder="">
                          </div>

                          <div class="form-group">
                            <label class="form-label">  Direktor</label>
                            <input class="form-control input-numeral mb-2" id="director" type="text" placeholder="Tashkilot raxbari ( masalan Olimov.A )">
                          </div>

                          <div class="form-group">
                            <label class="form-label">Xisobchi</label>
                            <input class="form-control mb-2 input-credit-card" type="text" placeholder="Tashkilot xisobchisi (masalan Safoev.SH)" id="counter">
                          </div>
                        </div>
                        <div class="card-footer">
                      <b type="submit" class="btn btn-primary" onclick="AddClient()" id="add_client" value="">Qo'shish</b>  </div>
                     
                      </div>
                  </div>


<script>
function ResultAddClient(data){
console.log(data);
if(data.result == 'ok'){
  document.getElementById('blocked').style='display:block;'
    var name = document.getElementById('name').value='';
    var adres = document.getElementById('adres').value='';
    var contract_number = document.getElementById('contract_number').value='';
    var inn = document.getElementById('inn').value='';
    var reg_code = document.getElementById('reg_code').value='';
    var director = document.getElementById('director').value='';
    var counter = document.getElementById('counter').value='';
    var phone = document.getElementById('phone').value='';
    var info = document.getElementById('info').className +="bg-success";
    var info = document.getElementById('info').innerHTML="Yangi mijoz qo'shildi";
}
}

  function AddClient(){
    var name = document.getElementById('name').value;
    var adres = document.getElementById('adres').value;
    var contract_number = document.getElementById('contract_number').value;
    var inn = document.getElementById('inn').value;
    var reg_code = document.getElementById('reg_code').value;
    var director = document.getElementById('director').value;
    var counter = document.getElementById('counter').value;
    var phone = document.getElementById('phone').value;
    var info = document.getElementById('info');
    
    var url = "{% url 'product:add_client' %}";
    var v = {'name':name,'phone':phone,'adres':adres,'contract_number':contract_number,'inn':inn,'reg_code':reg_code,'director':director,'counter':counter}

    var value = JSON.stringify(v);

    if(name.length == 0 || adres.length == 0){
      info.style = 'font-size:19px;';
      info.innerHTML = 'Tashkilot nomi va manzili kiritilishi shart';
    }else{

      ajax_function(url,value,ResultAddClient)
    }
  }
</script>                  
            <div class="col-md-6">
                    <div class="card mb-grid">
                      <div class="card-header">
                        <div class="card-header-title">
                          Mavjud xaridorlar
                        </div>
                        <div class="card-header-title" id="search_clients">
                          <form class="form-inline form-quicksearch d-none d-md-block mx-auto">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-icon">
                                  <i data-feather="search"></i>
                                </div>
                              </div>
                          
                            <input type="text" id="search_input"  class="form-control" id="search" placeholder="Xaridorlarni izlash..." title="Tovar nomini kiriting...">
                            </div>
                          </form>
                        </div>
                            <div class="results d-none">
                               <ul class="list-unstyled p-1 ">
                                <li class="search_result"><a href="#" style="color:red;"  class="text-muted">Azbuka MCHJ</a></li>
                                <li class="search_result"><a href="#" style="color:red;"  class="text-muted">Azbuka MCHJ</a></li>
                                <li class="search_result"><a href="#" style="color:red;"  class="text-muted">Azbuka MCHJ</a></li>
                                <li class="search_result"><a href="#" style="color:red;"  class="text-muted">Azbuka MCHJ</a></li>
                                <li class="search_result"><a href="#" style="color:red;"  class="text-muted">Azbuka MCHJ</a></li>
                                <li class="search_result"><a href="#" style="color:red;"  class="text-muted">Azbuka MCHJ</a></li>
                                <li class="search_result"><a href="#" style="color:red;"  class="text-muted">Azbuka MCHJ</a></li>
                                                    
                              </ul>
                            </div>
                        <div class="row mt-2 mb-1" style="height:750px;">
                          <div class="col-sm-12">
                          {% if page_object %}
                          <ul class="list-unstyled p-1 ">
                            {% for c in page_object %}
                        <li class="clients"><a href="{% url 'product:toprint' c.id %}" style="color:blue;"  class="btn btn-light btn-block">{{ c.name }}</a></li>
                           {% endfor %}
                                                
                          </ul>

                             <div class="pagination ml-2">                    
                            <nav aria-label="...">
                            <ul class="pagination">

                            <li class="page-item {% if not prev_url %} disabled {% endif %}">
                              <a class="page-link" href="{{ prev_url }}" tabindex="-1">Oldingi saxifa</a>
                            </li>

                            {% for n in page_object.paginator.page_range  %}

                              {% if page_object.number == n %}
                            <li class="page-item active">
                              <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
                            </li>
                            {% elif n > page_object.number|add:-3 and n < page_object.number|add:3%}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                            {% endif %}
                            {% endfor %}
                            <li class="page-item {% if not next_url %} disabled {% endif %}">
                              <a class="page-link" href="{{ next_url }}">Keyingi saxifa</a>
                            </li>
                            </ul>
                            </nav>
                            </div>
                          {% else %}
                          <div class="text-center">
                            <h4>Xaridorlar topilmadi !</h4>
                          </div>
                          {% endif %}
                          </div>


                        </div>
                        
                      </div>
                    </div>
                  </div>
             
                </div>
                </div>
     
              </div>
            </div>
        </div>
      </div>
    </div>
<style>

.results{
  width: 250px;
  max-height: 150px;
  border:solid 0.5px blue; 
  border-top:none;
  overflow: auto;
  z-index: 1;
  position: absolute;
  background-color: white;
}
.search_result{
  text-decoration: none;
  color: blue;
  font-weight: 600;
  padding-top: 5px;
}
  .clients>a:hover{
  text-decoration: none;
  letter-spacing: 1px;
  color: blue;
  text-transform: uppercase;
  font-weight: 600;
  }
.clients{
  padding-top: 5px;
}
#search_clients{
  max-width: 250px;
  border:solid 1px blue;
  border-radius: 5px;
  padding-left: 15px;
  margin-top:10px;
}
</style>


<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal3Label">Tahrirlash</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
               <div class="card mb-grid">
                  <div class="card-header">
                    <div class="card-header-title">Tahrirlash oynasi</div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label class="form-label">Nomi</label>
                      <input class="form-control mb-2 input-credit-card" type="text" placeholder="Nomi">
                    </div>
                    <div class="form-group">
                      <label class="form-label">Asosiy katalog</label>
                      <select name="select" class="form-control js-choice">
                        <option value="1">Sample value</option>
                        <option value="2">Sample value 2</option>
                        <option value="3">Sample value 3</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Qo'shimcha katalog</label>
                      <select name="select" class="form-control js-choice">
                        <option value="1">Sample value</option>
                        <option value="2">Sample value 2</option>
                        <option value="3">Sample value 3</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Qo'shimcha katalog</label>
                      <select name="select" class="form-control js-choice">
                        <option value="1">Sample value</option>
                        <option value="2">Sample value 2</option>
                        <option value="3">Sample value 3</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label class="form-label">Muallifi</label>
                      <input class="form-control input-date mb-2" type="text" placeholder=" ">
                    </div>
                    <div class="form-group">
                      <label class="form-label">Nashriyoti</label>
                      <input class="form-control input-date mb-2" type="text" placeholder=" ">
                    </div>
                    <div class="form-group">
                      <label class="form-label">Kelish narxi</label>
                      <input class="form-control input-date mb-2" type="text" placeholder="UZS ">
                    </div>
                    <div class="form-group">
                      <label class="form-label">Sotilish narxi</label>
                      <input class="form-control input-date mb-2" type="text" placeholder="UZS ">
                    </div>
                  </div>
                  <div class="card-footer">
                    <p>Ushbu tahrirlash oynasi orqali savatchaga olingan tovarlarni narxlarini va donasini mijoz talabiga (kelishuvga asosan) o'zgartirish mumkin.</p>
                  </div>
                </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
        <button type="button" class="btn btn-primary">Saqlash</button>
      </div>
    </div>
  </div>
</div>
  {% endblock %}