{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
      <!-- adminx-content-aside -->
      <div class="adminx-content">
        <!-- <div class="adminx-aside">

        </div> -->

        <div class="adminx-main-content">
          <div class="container-fluid">
            <!-- BreadCrumb -->
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb adminx-page-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Bosh panel</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tovarlar ro'yhati</li>
              </ol>
            </nav>

            <div class="pb-3">
              <h1> So'ngi xaridlar ro'yhati</h1>
            </div>
        
              <div class="row">
                <div class="col-md-3">
                  <div class="card mb-grid">
                  <div class="card-header">
                    <div class="card-header-title">Saralash</div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label class="form-label">Xaridor</label>
                      <select name="select" class="form-control js-choice">
                        <option value="1">Hilol</option>
                        <option value="2">Ziyo Nur</option>
                        <option value="3">Bolalar</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Sana</label>
                      <select name="select" class="form-control js-choice">
                        <option value="1">Sample value</option>
                        <option value="2">Sample value 2</option>
                        <option value="3">Sample value 3</option>
                      </select>
                    </div>
                  </div>
                  <div class="card-footer">
                    Avval tovarni asosiy katalogini tanlang, keyin katalog osti katalogni. Masalan: Adabiyotlar &gt;&gt;&gt;Jahon adabiyotlari &gt;&gt;&gt;Tovar nomi
                  </div>
                </div>
                </div>

                <div class="col-md-9">
                       <div class="row">
                <div class="col-12">
                  <div class="card mb-grid">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="card-header-title">Ro'yhatga olingan tovarlar</div>
                  </div>
                  <div class="table-responsive-sm">
                    <table class="table table-actions table-striped table-hover mb-0">
                      <thead>
                        <tr class="text-center">
                          <th scope="col">
                            <label class="custom-control custom-checkbox m-0 p-0">
                              <input type="checkbox" class="custom-control-input table-select-all">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </th>
                          <th scope="col">Xaridor</th>
                          <th scope="col">Sanasi</th>
                          <th scope="col">Soni</th>
                          <th scope="col">Summasi</th>
                          <th scope="col">Ma'sul</th>
                          <th scope="col">Status</th>
                          <th scope="col">Batafsil</th>
                        </tr>
                      </thead>
                      <tbody style="color:black;font-weight:700;">
                          <tr class="text-center">
                          <th scope="row">
                            <label class="custom-control custom-checkbox m-0 p-0">
                              <input type="checkbox" class="custom-control-input table-select-row">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </th>
                          <td>NUR ZIYO MCHJ</td>
                          <td><b>08/08/2020</b></td>
                          <td>65</td>
                          <td style="color:blue;"><b>UZS </b>445.000</td>
                          <td>Abdullo Abdullayev </td>
                          <td style="color:blue;">
                            <i data-feather="check"></i>
                          </td>
                          <td><button type="button" class="btn btn-sm btn-outline-success"><i data-feather="eye"></i></button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer">
                     <div class="pagination ml-2">
                    
                      <nav aria-label="...">
                      <ul class="pagination">

                      <li class="page-item {% if not prev_url %} disabled {% endif %}">
                        <a class="page-link" href="{{ prev_url }}" tabindex="-1">Oldingi</a>
                      </li>

                      {% for n in page_object.paginator.page_range  %}

                        {% if page_object.number == n %}
                      <li class="page-item active">
                        <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
                      </li>
                      {% elif n > page_object.number|add:-3 and n < page_object.number|add:3%}
                      <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                      {% endif %}
                      {% endfor %}
                      <li class="page-item {% if not next_url %} disabled {% endif %}">
                        <a class="page-link" href="{{ next_url }}">Keyingi </a>
                      </li>
                      </ul>
                      </nav>
                </div>
       
                  </div>
                </div>
                </div>
              </div>

                </div>
              </div>           
            </div>
        </div>
      </div>
    </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal3Label">Tahrirlash</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
               <div class="card mb-grid">
                  <div class="card-header">
                    <div class="card-header-title">Tahrirlash oynasi</div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label class="form-label">Donasi</label>
                      <input class="form-control mb-2 input-credit-card" type="text" placeholder="Donasi">
                    </div>

                    <div class="form-group">
                      <label class="form-label">Narxi</label>
                      <input class="form-control input-date mb-2" type="text" placeholder="UZS ">
                    </div>

                    <div class="form-group">
                      <label class="form-label">Sotilish narxi</label>
                      <input class="form-control input-numeral mb-2" type="text" placeholder="UZS ">
                    </div>
                  </div>
                  <div class="card-footer">
                    <p>Ushbu tahrirlash oynasi orqali savatchaga olingan tovarlarni narxlarini va donasini mijoz talabiga (kelishuvga asosan) o'zgartirish mumkin.</p>
                  </div>
                </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
        <button type="button" class="btn btn-primary">Saqlash</button>
      </div>
    </div>
  </div>
</div>
  {% endblock %}