<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book_Store - Kirish</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <link rel="stylesheet" type="text/css" href="/static/dist/css/adminx.css" media="screen" />
     <link rel="stylesheet" type="text/css" href="/static/dist/css/fontawesome.css" media="screen" />
  </head>
  <body>

    <div class="adminx-container">
      <div class="row">
        <div class="col-md-6">
          <div class="container">
     <figure>
        <img class="d-block w-100" id="figure_img" src="/static/src/images/book_store_login_banner.svg"  alt="Hisobotlar analizi">
     </figure>
            
          </div>
        </div>
        <div class="col-md-6">
            <div class="page-login">
        <div class="text-center">
          <a class="navbar-brand mb-4 h1" href="#">
            <img src="/static/logotype.svg" class="navbar-brand-image  w-50 h-50 d-inline-block align-left mr-2" alt="">
            <h3>Book Store</h3>
          </a>
        </div>

        <div class="card mb-0">

          <div class="card-seperator">
          
          </div>
          <div class="card-body">
            <form>
            <p><h5>Login</h5></p>
           
            <h6><font color="red" id="login_info"></font></h6>
           <div class="input-group">
            <input type="text" onkeyup="CheckLogin(this.value)" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" id="login_field">
            <div class="input-group-append">
              <span class="" type="button" id="login_icon">
      
                <i id="iks" style="display:none;" data-feather="x"></i>
              </span>
            </div>
          </div>

              <p><h5>Parol</h5></p>
          
           <div class="input-group">
            <input type="password" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <span class="" type="button"></span>
            </div>
          </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1"> Eslab qolish</label>
                </div>
              </div>
              <button type="submit" class="btn btn-sm btn-block btn-primary">Kirish </button>
            </form>
          </div>
          <div class="card-footer text-center">
            <a href="#"><small>Parolni unutdingizmi?</small></a>
          </div>
        </div>
      </div>
        </div>
      </div>
    
    </div>

    <!-- If you prefer jQuery these are the required scripts -->
    <style>
      .card{
        box-shadow:5px 7px 9px blue;
      }
    </style>

     <script src="/static/src/js/jquery-3.2.1.min.js"></script>
    <script src="/static/src/js/popper.min.js"></script>
    <script src="/static/src/js/bootstrap.min.js"></script>
    <script src="/static/dist/js/vendor.js"></script>
    <script src="/static/dist/js/adminx.js"></script>
{% include 'includes/login_ajax.html'%}
    <!-- If you prefer vanilla JS these are the only required scripts -->
    <!-- script src="../dist/js/vendor.js"></script>
    <script src="../dist/js/adminx.vanilla.js"></script-->
  </body>
</html>