<script>
window.onload = LoadingCart();


function LoadingCart(){
   if (window.XMLHttpRequest) {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
    var data = JSON.parse(this.responseText);
console.log(data);
var cart_wrapper = document.getElementById('cart_wrapper');
var cart_items_total = document.getElementById('cart_items_total');
  if(data.list.length == 0){
    cart_items_total.innerHTML = 0;
cart_wrapper.innerHTML = '<div class="text-center mb-2 mt-2"><h4>Savatcha bo`sh</h4></div>';
  }else{
document.getElementById('itog').innerHTML=data.list[0].cart_total;

var a = '<div>';
for(var i=0; i<data.list.length;i++){

  a+='<a href="#" id="cart_list_id_'+data.list[i].product_id+'" class="list-group-item list-group-item-action unread"><big>Tanlangan soni :<input type="number" id="cart_product_item" onchange="ChangeQtyCart('+data.list[i].id+', this.value)" style="width:100px;" value="'+data.list[i].qty+'" class=""></big>';

  a+='<p class="mb-1" style="font-size:18px;"><strong>'+data.list[i].title+'</strong> <i class="text-info">'+data.list[i].category+ '</i>';

  a+=' <strong id="item_total-'+data.list[i].id+'">'+data.list[i].cur_price+'<sup><i>uzs</i> </sup></strong> </p>'

  a+=' <div class="mb-1"><button type="button" class="btn btn-primary btn-sm">To`lov</button><button type="button" onclick="DeleteProductFromCart('+data.list[i].product_id+','+data.list[i].id+')" class="btn btn-outline-danger btn-sm">Savatchadan o`chirish</button></div>';

  a+='<big style="color:blue;">Ombordagi soni <i id="product_total">'+data.list[i].product_total+'</i> ta </big></a>';

}
a+='</div>';
cart_wrapper.innerHTML=a;


    }
    }
  }
  var url = "{% url 'product:loading_cart' %}"

  xmlhttp.open("GET",url,true);
  xmlhttp.send(); 
}
 



 



 function AddToCart(product_id){
 
  if (window.XMLHttpRequest) {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
    var data = JSON.parse(this.responseText);
  console.log(data);
  if(data.code == 200){
  LoadingCart();

  document.getElementById('cart_items_total').innerHTML=data.cart_total;
  document.getElementById('td_product_quantity_'+product_id).innerHTML=data.product_total;
 
    document.getElementById("dynamic_bg").className +="alert alert-success";
   document.getElementById("alert_title").innerHTML="Bajarildi!";
    document.getElementById("alert_body").innerHTML="Tovar savatchaga qo'shildi!";
  document.getElementById('show_alert').click();
  console.log("Working add to cart");
}
else if(data.code == 500){
    document.getElementById("alert_title").innerHTML="Xatolik!";
    document.getElementById("alert_body").innerHTML="Tovar bazada 0 dona qolgan";
    document.getElementById("dynamic_bg").className +="alert alert-danger";
  document.getElementById('show_alert').click();
}
else if(data.code == 400){
    document.getElementById("alert_title").innerHTML="Ogoxlantirish!";
    document.getElementById("alert_body").innerHTML="Tovar savatchaga qo'shilgan!";
    document.getElementById("dynamic_bg").className +="alert alert-warning";
  document.getElementById('show_alert').click();
}


else{

}


    }
  }
  var url = "{% url 'product:add_to_cart' %}"
  var url = url+"?product_id="+product_id;
  xmlhttp.open("GET",url,true);
  xmlhttp.send();
  }
  function ChangeQtyCart(item_id,qty){
    console.log(item_id);
    var valu = {'item_id':item_id,'qty':qty};
    var value = JSON.stringify(valu);
      if (window.XMLHttpRequest) {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
    var data = JSON.parse(this.responseText);
  console.log(data);
  if(data.status == 'ok'){


document.getElementById('product_total').innerHTML=data.product_count;
document.getElementById('itog').innerHTML=data.cart_total_price;
document.getElementById('all_count').innerHTML=data.all_product_count;
document.getElementById('cart_items_total').innerHTML=data.cart_total;
  }
    else if(data.status == 'no limit'){
    document.getElementById("alert_title").innerHTML="Ogoxlantirish!";
    document.getElementById("alert_body").innerHTML="Ombordagi tovar soni tanlangandan kam !!";
    document.getElementById("dynamic_bg").className +="alert alert-warning";
  document.getElementById('show_alert').click();

  }
  else if(data.status == 'no product'){
    document.getElementById("alert_title").innerHTML="Xatolik!";
    document.getElementById("alert_body").innerHTML="Tovar omborda 0 dona qolgan!";
    document.getElementById("dynamic_bg").className +="alert alert-danger";
  document.getElementById('show_alert').click();

  }


    }
  }
  var url = "{% url 'product:change_item_qty' %}"
  var url = url+"?value="+value;
  xmlhttp.open("GET",url,true);
  xmlhttp.send();
  }

  window.onload = ResetForm();

  function ResetForm(){
    document.getElementById('search_form').reset();
  }


 

 function DeleteProductFromCart(product_id,item_id){
  console.log(product_id);
  console.log(item_id);
  var valu = {'item_id':item_id,'product_id':product_id};
    var value = JSON.stringify(valu);
    if (window.XMLHttpRequest) {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
    var data = JSON.parse(this.responseText);
  console.log(data);
if(data.status == 'ok'){
document.getElementById('itog').innerHTML=data.cart_total_price;
document.getElementById('all_count').innerHTML="Jami tovar soni "+data.all_product_count;
LoadingCart();
// document.getElementById('cart_list_id_'+product_id).style="display:none;";
document.getElementById('cart_items_total').innerHTML=data.cart_total;
}

    }
  }
  var url = "{% url 'product:remove_from_cart_view' %}"
  var url = url+"?value="+value;
  xmlhttp.open("GET",url,true);
  xmlhttp.send();
  }

</script>

<script>
$(document).ready(function MyAlertBox(){
$('#show_alert').on('click',function(){
  $('#alert-box').show(200, function(){
  setTimeout(function(){
    $('#alert-box').hide(500);
  }, 1500);
});
});
});




 
</script>


                <!--<a href="#" id="cart_list_id_{{ item.product.id }}" class="list-group-item list-group-item-action unread">
                
          <big>Tanlangan soni :<input type="number" id="cart_product_item" onchange="ChangeQtyCart({{ item.id}}, this.value)" style="width:100px;" placeholder="{{ item.qty }}" class=""></big>
 
                  <p class="mb-1" style="font-size:18px;"><strong>{{ item.product.title }}</strong> <i class="text-info">{{ item.product.category }} </i> 

  <strong id="item_total-{{ item.id }}">{{ item.product.cur_price }} <sup><i>uzs</i> </sup></strong> </p>

                  <div class="mb-1">
                    <button type="button" class="btn btn-primary btn-sm">To'lov</button>
                    <button type="button" onclick="DeleteProductFromCart({{ item.product.id }},{{ item.id }})" class="btn btn-outline-danger btn-sm">Savatchadan o'chirish</button>
                  </div>

                  <big style="color:red;">Omborda {{ item.product.quantity }}ta  qoldi</big>
                </a>
     

                  <div class="text-center mb-2 mt-2">
                    <h4>Savatcha bo'sh</h4>
                  </div>
             
                </form>-->