{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
      <!-- adminx-content-aside -->
      <div class="adminx-content">
        <!-- <div class="adminx-aside">

        </div> -->

        <div class="adminx-main-content">
          <div class="container-fluid">
            <!-- BreadCrumb -->
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb adminx-page-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Bosh panel</a></li>
                <li class="breadcrumb-item active" aria-current="page">So'ngi qo'shilgan tovarlar</li>
              </ol>
            </nav>

            <div class="pb-3">
              <div class="row">
                <div class="col-md-12">
                  <h4>Saralash</h4>
                </div>
                <div class="col-md-3">
                  <form action="" method="POST">
                    {% csrf_token %}
                   <div class="form-group">
                      <label class="form-label">Katalog bo'yicha</label>
                      <select name="select_category" onchange="SearchDay('category')" class="form-control js-choice">
                        {% if categories %}
                        <option value="{{ category.id }}">--- -- ---</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category }}</option>
                        {% endfor %}
                        {% else %}
                        <option>Xozircha kataloglar topilmadi</option>
                        {% endif %}
                      </select>
                      <input type="submit" id="submit_category" style="display:none;">
                    </div>
                  </form>
                </div>
                <div class="col-md-3">
                   <form action="" method="POST">
                    <div class="form-group">
                      {% csrf_token %}
                      <label class="form-label">Sana bo'yicha</label>
                      <input type="date" style="width:100%;"  name="date" onchange="SearchDay(this.value)" value="" class="btn btn-primary">
                      <input type="submit" id="submit" style="display:none;">
                    </div>
                  </form>
                </div>

                 <div class="col-md-3">
                  <form action="" method="POST">
                    {% csrf_token %}
                   <div class="form-group">
                      <label class="form-label">Boshqa parametrlar bo'yicha</label>
                      <select name="select_category" onchange="SearchDay('category')" class="form-control js-choice">
                       
                    <option value="{{ category.id }}">--- -- ---</option>
                    <option value="{{ category.id }}">Eng ko'p sotildi</option>
                       
                      </select>
                      <input type="submit" id="submit_category" style="display:none;">
                    </div>
                  </form>
                </div>
              </div>
             
               
            </div>
        
              <div class="row">
                <!--<div class="col-md-3">
                  <div class="card mb-grid">
                  <div class="card-header">
                    <div class="card-header-title">Saralash</div>
                  </div>
                  <div class="card-body">
                  <form action="" method="post">
                    <div class="form-group">
                      {% csrf_token %}
                      <label class="form-label">Sana bo'yicha</label>
                      <input type="date" name="date" onchange="SearchDay(this.value)" value="{{ today }}" class="btn btn-primary">
                      <input type="submit" id="submit" style="display:none;">
                    </div>
                  </form>
                    <div class="form-group">
                      <label class="form-label">Sana</label>
                      <select name="select" class="form-control js-choice">
                        <option value="1">Sample value</option>
                        <option value="2">Sample value 2</option>
                        <option value="3">Sample value 3</option>
                      </select>
                    </div>
                  </div>
                  <div class="card-footer">
                    Avval tovarni asosiy katalogini tanlang, keyin katalog osti katalogni. Masalan: Adabiyotlar &gt;&gt;&gt;Jahon adabiyotlari &gt;&gt;&gt;Tovar nomi
                  </div>
                </div>
                </div>-->

                <div class="col-md-12">
                       <div class="row">
                <div class="col-12">
                  <div class="card mb-grid">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    {% if get %}
                    <div class="card-header-title">Eng oxirgi qo'shilgan tovarlar </div>
                    {% else %}
                    <div class="card-header-title">Topilgan tovarlar </div>
                    {% endif %}
                    <div class="card-header-title"><h4>{{ year }}-yil {{ day }}-{{ month }}</h4></div>
                  </div>
                  <div class="table-responsive-sm">
                    <table class="table table-actions table-striped table-hover mb-0">
                       {% if page_object %}
                      <thead>
                        <tr class="text-center">
                          <th scope="col">
                            <label class="custom-control custom-checkbox m-0 p-0">
                              <input type="checkbox" class="custom-control-input table-select-all">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </th>
                          <th scope="col">Nomi</th>
                          <th scope="col">Kategoriyasi</th>
                          <th scope="col">Nashriyoti</th>
                          <th scope="col">Muallif</th>
                          <th scope="col">Ombordagi soni</th>
                          <th scope="col">Narxi</th>
                          <th scope="col">Savatchaga joylash</th>
                        </tr>
                      </thead>
                      <tbody style="color:black;font-weight:700;" id="tbody">

                           
                          {% for product in page_object %}
                        <tr class="text-center" {% if setting.color_product_limit %}{% if product.quantity == 0 %} style="background:rgba(239,78,46,0.5);" {% elif product.quantity < 5 %} style="background:rgba(239,255,49,0.4);"{% endif %}{% endif %} >
                          <th scope="row">
                            <label class="custom-control custom-checkbox m-0 p-0">
                              <input type="checkbox" class="custom-control-input table-select-row">
                              <span class="custom-control-indicator"></span>
                            </label>
                          </th>
                      
                          <td>{{ product.title }}</td>
                          <td>{{ product.category }}</td>
                          <td>{{ product.edition }}</td>
                          <td>{{ product.author }}</td>
                          <td id="td_product_quantity_{{ product.id }}">{{ product.quantity }}</td>
                          <td>{{ product.cur_price }}</td>

                            <td>
                            <button type="button" onclick="AddToCart({{ product.id }})" class="btn btn-sm btn-primary"  title="Savatchaga qo'shish"><i data-feather="shopping-cart"></i></button>
                         
                           
                            <div id="sound"></div>
                          </td>
                        </tr>
                          {% endfor%}
                          {% else %}
                      <div class="text-center"><h3>Xozircha ma'lumot topilmadi</h3></div>
                  {% endif %}
                      </tbody>
                    </table>
                  </div>


 <div class="pagination ml-2 mt-5">
                    
<nav aria-label="...">
<ul class="pagination">

<li class="page-item {% if not prev_url %} disabled {% endif %}">
  <a class="page-link" href="{{ prev_url }}" tabindex="-1">Oldingi saxifa</a>
</li>

{% for n in page_object.paginator.page_range  %}

  {% if page_object.number == n %}
<li class="page-item active">
  <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
</li>
{% elif n > page_object.number|add:-3 and n < page_object.number|add:3%}
<li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
{% endif %}
{% endfor %}
<li class="page-item {% if not next_url %} disabled {% endif %}">
  <a class="page-link" href="{{ next_url }}">Keyingi saxifa</a>
</li>
</ul>
</nav>
</div>
                </div>
                </div>
              </div>

                </div>
              </div>           
            </div>
        </div>
      </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal3Label">Tahrirlash</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
               <div class="card mb-grid">
                  <div class="card-header">
                    <div class="card-header-title">Tahrirlash oynasi</div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label class="form-label">Donasi</label>
                      <input class="form-control mb-2 input-credit-card" type="text" placeholder="Donasi">
                    </div>

                    <div class="form-group">
                      <label class="form-label">Narxi</label>
                      <input class="form-control input-date mb-2" type="text" placeholder="UZS ">
                    </div>

                    <div class="form-group">
                      <label class="form-label">Sotilish narxi</label>
                      <input class="form-control input-numeral mb-2" type="text" placeholder="UZS ">
                    </div>
                  </div>
                  <div class="card-footer">
                    <p>Ushbu tahrirlash oynasi orqali savatchaga olingan tovarlarni narxlarini va donasini mijoz talabiga (kelishuvga asosan) o'zgartirish mumkin.</p>
                  </div>
                </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Yopish</button>
        <button type="button" class="btn btn-primary">Saqlash</button>
      </div>
    </div>
  </div>
</div>

<script>
  function SearchDay(date){
    if(date == "category"){
    document.getElementById('submit_category').click();

    }else{

    document.getElementById('submit').click();
    }
  }
</script>
  {% endblock %}