{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
      <!-- adminx-content-aside -->
      <div class="adminx-content">
        <div class="adminx-main-content">
          <div class="container-fluid">
            <!-- BreadCrumb -->
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb adminx-page-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Bosh panel</a></li>
                <li class="breadcrumb-item active" aria-current="page">Umumiy</li>
              </ol>
            </nav>

            <div class="pb-3">
              <div class="row">
                <div class="col-md-8"><h1>Bosh panel </h1></div>
                <div class="col-md-4"><h1><div id="time"></div></h1></div>
              </div>
              
            </div>
              
            <div class="row">
              <div class="col-md-6 col-lg-3 d-flex">
                <div class="card mb-grid w-100">
                  <div class="card-body d-flex flex-column">
                    <div class="d-flex justify-content-between mb-3">
                      <h5 class="card-title mb-0">
                        Kunlik tushum
                      </h5>

                      <div class="card-title-sub">
                       <b>UZS </b> 12.000.000
                      </div>
                    </div>

                    <div class="progress mt-auto">
                      <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 d-flex">
                <div class="card mb-grid w-100">
                  <div class="card-body d-flex flex-column">
                    <div class="d-flex justify-content-between mb-3">
                      <h5 class="card-title mb-0">
                        Sotilgan tovarlar
                      </h5>

                      <div class="card-title-sub">
                        185 dona
                      </div>
                    </div>

                    <div class="progress mt-auto">
                      <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 d-flex">
                <div class="card border-0 bg-primary text-white text-center mb-grid w-100">
                  <div class="d-flex flex-row align-items-center h-100">
                    <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                      <i data-feather="shopping-cart"></i>
                    </div>
                    <div class="card-body">
                      <a href="#" style="color:#fff;">
                      <div class="card-info-title">Savatcha</div>
                      <h3 class="card-title mb-0">
                        7
                      </h3>
                    </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-3 d-flex">
                <div class="card border-0 bg-success text-white text-center mb-grid w-100">
                  <div class="d-flex flex-row align-items-center h-100">
                    <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                      <i data-feather="users"></i>
                    </div>
                    <div class="card-body">
                      <div class="card-info-title">Xaridorlar (bu hafta)</div>
                      <h3 class="card-title mb-0">
                        258
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
<div class="col ">
  <div class="card mb-grid mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="card-header-title"><span style="color:blue;">20/08/2020 </span> Boshqaruv paneli</div>
    </div>
      <div class="container-fluid  mb-2">
        <div class="row mt-3 mb-2 pt-2">
          <div class="col-md-3">
            <div class="card mb-4 index_card">           
            <div class="card-body">
              <a href="{% url 'books:page_views' 'products' %}">
              <h3 class="card-title">Sotuv:</h3>
              <div class="card-img text-center">
                <img src="/static/src/images/sale_arrow_down.svg" alt="">
              </div>              
              <p class="card-text blue-text"><i class="fas fa-thumbs-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">Avgust</span>  2020</p>
              </a>
            </div>
          </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 index_card">           
            <div class="card-body">
              <a href="{% url 'books:page_views' 'category' %}">
              <h3 class="card-title">Tovarlar:</h3>
              <div class="card-img text-center">
                <img src="/static/logotype.svg" alt="">
              </div>              
              <p class="card-text blue-text"><i class="fas fa-thumbs-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">Omborda</span>  2520 dona tovar</p>
            </a>
            </div>
          </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 index_card">           
            <div class="card-body">
              <a href="{% url 'books:delivery'  %}">
              <h3 class="card-title">Tovar kirim:</h3>
              <div class="card-img text-center">
                <img src="/static/src/images/add_products.svg" alt="">
              </div>              
              <p class="card-text blue-text"><i class="fas fa-thumbs-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">Avgust</span>  2020</p>
            </a>
            </div>
          </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 index_card">           
            <div class="card-body">
              <a href="{% url 'books:page_views' 'last-clients-list' %}">
              <h3 class="card-title">Tovar chiqim:</h3>
              <div class="card-img text-center">
                <img src="/static/src/images/addedproducts.svg" alt="">
              </div>              
              <p class="card-text blue-text"><i class="fas fa-thumbs-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">Avgust</span>  2020</p>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row mt-3 mb-2 pt-2">
          <div class="col-md-3">
            <div class="card mb-4 index_card">           
            <div class="card-body">
              <a href="{% url 'books:page_views' 'income' %}">
              <h3 class="card-title">Kirimlar:</h3>
              <div class="card-img text-center">
                <img src="/static/src/images/money_analis.svg" alt="">
              </div>              
              <p class="card-text blue-text"><i class="fas fa-thumbs-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">Avgust</span>  2020</p>
              </a>
            </div>
          </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 index_card">           
            <div class="card-body">
              <a href="{% url 'books:page_views' 'expense' %}">
              <h3 class="card-title">Chiqimlar:</h3>
              <div class="card-img text-center">
                <img src="/static/src/images/data_analis.svg" alt="">
              </div>              
              <p class="card-text blue-text"><i class="fas fa-thumbs-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">Avgust</span>  2020</p>
            </a>
            </div>
          </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 index_card">           
            <div class="card-body">
              <a href="{% url 'books:page_views' 'statistics' %}">
              <h3 class="card-title">Ombor:</h3>
              <div class="card-img text-center"> 
                <img src="/static/src/images/products_check.svg" alt="">
              </div>              
              <p class="card-text blue-text"><i class="fas fa-thumbs-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">Avgust</span>  2020</p>
            </a>
            </div>
          </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 index_card">           
            <div class="card-body">
              <a href="{% url 'books:page_views' 'report' %}">
              <h3 class="card-title">Hisobotlar:</h3>
              <div class="card-img text-center">
                <img src="/static/src/images/invoice.svg" alt="">
              </div>              
              <p class="card-text blue-text"><i class="fas fa-thumbs-up fa-2x"></i><span class="ml-2" style="font-size: 30px;">Avgust</span>  2020</p>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
            <div class="row">
                <div class="col-lg-4">
                <div class="card">
                  <div class="card-header" style="color:red;">
                    Omborda kam qoldi!
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                     <table class="table table-striped mb-0">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nomi</th>
                          <th scope="col">Turi</th>
                          <th scope="col">Narxi</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Kids English</td>
                          <td>Qo'llanma (Bolalar)</td>
                          <td><b>UZS </b> 4800</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col-lg-8">         
                 <div class="row">
                
                    <div class="col-md-12">
                        <div class="card">
                    <div class="card-header">
                      Hisobot (Oylik)
                    </div>
                    <div class="card-body">
                      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <div id="chart_div"></div>
                      <script>
                          google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawMaterial);

function drawMaterial() {
      var data = new google.visualization.DataTable();
      data.addColumn('timeofday', 'Oylik hisobot');
      data.addColumn('number', 'Bu oyda');
      data.addColumn('number', 'O\'tgan oyda');

      data.addRows([
        [{v: [8, 0, 0], f: '8 am'}, 1, .25],
        [{v: [9, 0, 0], f: '9 am'}, 2, .5],
        [{v: [10, 0, 0], f:'10 am'}, 3, 1],
        [{v: [11, 0, 0], f: '11 am'}, 4, 2.25],
        [{v: [12, 0, 0], f: '12 pm'}, 5, 2.25],
        [{v: [13, 0, 0], f: '1 pm'}, 6, 3],
        [{v: [14, 0, 0], f: '2 pm'}, 7, 4],
        [{v: [15, 0, 0], f: '3 pm'}, 8, 5.25],
        [{v: [16, 0, 0], f: '4 pm'}, 9, 7.5],
        [{v: [17, 0, 0], f: '5 pm'}, 10, 10],
      ]);

      var options = {
        title: 'Oylik',
        hAxis: {
          title: 'Vaqt',
          format: 'h:mm a',
          viewWindow: {
            min: [7, 30, 0],
            max: [17, 30, 0]
          }
        },
        vAxis: {
          title: 'Rating (scale of 1-100)'
        }
      };

      var materialChart = new google.charts.Bar(document.getElementById('chart_div'));
      materialChart.draw(data, options);
    }
                      </script>
                    </div>
                  </div> 
                    </div>                            
                  </div>
                
              </div>
            </div> 
                
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endblock %}